@charset "UTF-8";
@import 'fontawesome-all.min.css';
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic|Source+Code+Pro");

body {
  background-color: #070e22;
  min-width: 300px;
}

body, input, select, textarea {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16.5pt;
  font-weight: 300;
  line-height: 1.65;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-weight: 200;
}
h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
  padding-bottom: 1em;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

#header {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(10, 19, 46, 0.95);
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  padding: 0 1.25em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
#header h1 {
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s;
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
  border-bottom: 0;
  font-size: 0.8em;
  margin-bottom: 0;
  opacity: 1;
  visibility: visible;
}
#header nav {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3em;
  letter-spacing: 0.1em;
  line-height: 3em;
  position: absolute;
  right: 0.7em;
  text-transform: uppercase;
  top: 0.7em;
}
#header nav a {
  border: 0;
  display: inline-block;
  padding: 0 1em;
}
#header nav a:before {
  float: right;
  margin-left: 0.75em;
}
#header nav a {
  text-decoration: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
  padding: 0 1.35em;
}
#header.alt {
  background-color: transparent;
}
#header.alt h1 {
  opacity: 0;
  visibility: hidden;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.gallery {
  background-color: #070e22;
}

.gallery-cell {
  height: 500px;
  width: 800px;
  margin-bottom: 70px;
  background: transparent;
  text-align: center;
  counter-increment: gallery-cell;
  color: white;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: normal;
  font-size: 80px;
  color: black;
}

.gallery-cell-img {
  max-width: 800px;
  max-height: 500px;
  border-color: #000205;
  border-style: double;
}

.img {
  width: auto;
  height: auto;
}

.title {
  text-align: center;
  font-size: 70px;
  margin-top: 60px;
}

@media (max-width: 1200px) {
  .title{
    font-size: 20px;
  }
  .gallery-cell{
    max-width: 300px;
    max-height: 200px;
    font-size: 15px;
  }
  .gallery-cell-img{
    max-width: 300px;
    max-height: 180px;
  }
  #header nav{
    font-size: 13px;
  }

}
